.h5p-advanced-blanks {
  .spelling-mistake {

    .missing-character,
    .mistaken-character {
      color: var(--h5p-theme-feedback-incorrect-main);
      font-weight: bold;
      animation-duration: 500ms;
      animation-name: blink-color;
      animation-iteration-count: 13;
      animation-direction: alternate;
    }
  }
}

@keyframes blink-color {
  from {
    color: initial;
  }

  to {
    color: var(--h5p-theme-feedback-incorrect-main);
  }
}
