.h5p-advanced-blanks {

  .h5p-input-wrapper {
    display: inline-flex;
    position: relative;
    align-items: center;
    vertical-align: middle;
  }

  select.h5p-text-input {
    appearance: button;
    -moz-appearance: none;
    -webkit-appearance: button;
  }

  .blank {
    .h5p-text-input {
      font-family: var(--h5p-theme-font-name);
      font-size: var(--h5p-theme-font-size-m);
      border-radius: var(--h5p-theme-border-radius-medium);
      background-color: var(--h5p-theme-ui-base);
      border: 2px solid var(--h5p-theme-alternative-darker);
      padding: calc(var(--h5p-theme-spacing-xs) / 2) 0 calc(var(--h5p-theme-spacing-xs) / 2) var(--h5p-theme-spacing-xxs);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: var(--h5p-theme-text-primary);
      min-width: 6em;
      min-height: calc(var(--h5p-theme-font-size-m) * 1.2);
      font-weight: 600;
      width: 100%;

      &:focus-visible {
        box-shadow: 0 0 0.5rem 0 var(--h5p-theme-contrast-cta-white);
        border-color: var(--h5p-theme-contrast-cta-white);
        outline: 1px ridge var(--h5p-theme-contrast-cta-white);
      }

      &:disabled {
        opacity: 1;
      }
    }

    &.correct {
      .h5p-text-input {
        background: var(--h5p-theme-feedback-correct-secondary);
        border: 2px solid var(--h5p-theme-feedback-correct-third);
        color: var(--h5p-theme-feedback-correct-main);
        font-weight: bold;
        padding-right: var(--h5p-theme-spacing-m);
      }

      .h5p-input-wrapper:after {
        position: absolute;
        right: var(--h5p-theme-spacing-xxs);
        text-decoration: none;
        content: "\e903";
        font-family: 'h5p-theme';
        color: var(--h5p-theme-feedback-correct-main);
      }
    }

    &.error,
    &.showing-solution {
      .h5p-text-input {
        color: var(--h5p-theme-feedback-incorrect-main);
        background-color: var(--h5p-theme-feedback-incorrect-secondary);
        border: solid 2px var(--h5p-theme-feedback-incorrect-third);
        font-weight: bold;
        padding-right: var(--h5p-theme-spacing-m);
      }

      .h5p-input-wrapper:after {
        position: absolute;
        right: var(--h5p-theme-spacing-xxs);
        font-family: 'h5p-theme';
        text-decoration: none;
        content: "\e902";
        color: var(--h5p-theme-feedback-incorrect-main);
      }
    }

    &.retry {
      .h5p-text-input {
        color: var(--h5p-theme-feedback-incorrect-main);
        background-color: var(--h5p-theme-feedback-incorrect-secondary);
        border: solid 2px var(--h5p-theme-feedback-incorrect-third);
        font-weight: bold;
        padding-right: var(--h5p-theme-spacing-m);
      }

      .h5p-input-wrapper:after {
        position: absolute;
        right: var(--h5p-theme-spacing-xxs);
        font-family: 'h5p-theme';
        text-decoration: none;
        content: "\e902";
        color: var(--h5p-theme-feedback-incorrect-main);
      }
    }

    &.has-tip {
      .h5p-input-wrapper:after {
        right: 2.25em;
      }
    }

    &.correct.has-tip .h5p-text-input,
    &.error.has-tip .h5p-text-input,
    &.retry.has-tip .h5p-text-input {
      padding-right: 0.5rem;
    }
  }

  .correct-answer {
    color: var(--h5p-theme-feedback-correct-main);
    font-weight: bold;
    border: 2px var(--h5p-theme-feedback-correct-main) dashed;
    background-color: var(--h5p-theme-feedback-correct-secondary);
    padding: calc(var(--h5p-theme-spacing-xs) / 2);
    border-radius: var(--h5p-theme-border-radius-medium);
    margin-left: .5em;
    display: inline-flex;
    line-height: normal;

    &[hidden] {
      display: none;
    }
  }

  .joubel-tip-container {
    background: none;
    border: none;
    font-size: var(--h5p-theme-font-size-m);
    line-height: inherit;
    padding: 0;
    position: absolute;
    right: 0.4rem;

    &:focus-visible {
      border-radius: 4px;
      outline: 4px ridge var(--h5p-theme-contrast-cta-white);
    }

    &:hover {
      color: var(--h5p-theme-contrast-cta-dark);
    }

    .joubel-icon-tip-normal {
      .h5p-icon-shadow:before {
        color: black;
        opacity: 0.13;
      }
    }
  }

  button.h5p-notification {
    cursor: pointer;
  }

  .h5p-advanced-blanks-select-mode .blank:not(.has-pending-feedback) button.h5p-notification,
  .h5p-advanced-blanks-type-mode .blank:not(.has-pending-feedback) button.h5p-notification {
    display: none;
  }

  .h5p-advanced-blanks-select-mode .blank.has-pending-feedback button.h5p-notification,
  .h5p-advanced-blanks-type-mode .blank.has-pending-feedback button.h5p-notification {
    font-size: large;
  }

  .h5p-advanced-blanks-select-mode .blank.has-pending-feedback button.h5p-notification,
  .h5p-advanced-blanks-type-mode .blank.has-pending-feedback .h5p-input-wrapper:before {
    font-family: 'H5PFontAwesome4';
    text-decoration: none;
    animation: shake 3s cubic-bezier(.36, .07, .19, .97) reverse;
    animation-iteration-count: 2;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .h5p-advanced-blanks-select-mode .blank.error.has-pending-feedback button.h5p-notification,
  .h5p-advanced-blanks-type-mode .blank.error.has-pending-feedback .h5p-input-wrapper:before {
    color: var(--h5p-theme-feedback-incorrect-main);
    text-shadow: 1px 1px var(--h5p-theme-ui-base),
                 1px -1px var(--h5p-theme-ui-base),
                 -1px -1px var(--h5p-theme-ui-base),
                 -1px 1px var(--h5p-theme-ui-base);
  }

  .h5p-advanced-blanks-select-mode .blank.retry.has-pending-feedback button.h5p-notification,
  .h5p-advanced-blanks-type-mode .blank.retry.has-pending-feedback .h5p-input-wrapper:before {
    color: var(--h5p-theme-feedback-neutral-main);
    text-shadow: 1px 1px var(--h5p-theme-ui-base),
                 1px -1px var(--h5p-theme-ui-base),
                 -1px -1px var(--h5p-theme-ui-base),
                 -1px 1px var(--h5p-theme-ui-base);
  }

  .h5p-advanced-blanks-type-mode .blank.has-pending-feedback .h5p-input-wrapper:before {
    position: absolute;
    left: -0.4em;
    top: -0.7em;
    content: "\f05a";
  }

  .h5p-advanced-blanks-select-mode {
    .blank {

      &.has-tip select.h5p-text-input {
        margin-right: 1.5rem;
      }

      &.correct select.h5p-text-input,
      &.error select.h5p-text-input,
      &.retry select.h5p-text-input,
      &.showing-solution select.h5p-text-input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;

        padding-right: 3.5em;
      }

      &.correct select.h5p-text-input::-ms-expand,
      &.error select.h5p-text-input::-ms-expand,
      &.retry select.h5p-text-input::-ms-expand,
      &.showing-solution select.h5p-text-input::-ms-expand {
        display: none;
      }
    }

    button.joubel-tip-container {
      right: -0.15rem;

      .joubel-icon-tip-normal {
        position: relative;
        top: -0.5rem;
      }
    }
  }
}

@keyframes shake {

  2%,
  20% {
    transform: translate3d(-0.5px, 0, 0);
  }

  4%,
  17% {
    transform: translate3d(1px, 0, 0);
  }

  6%,
  10%,
  15% {
    transform: translate3d(-2px, 0, 0);
  }

  9%,
  13% {
    transform: translate3d(2px, 0, 0);
  }
}
