.h5p-advanced-blanks {

  .blank {
    .h5p-text-input {
      background-color: var(--h5p-theme-ui-base);
      border: 2px solid var(--h5p-theme-alternative-darker);
      border-radius: var(--h5p-theme-border-radius-medium);
      color: var(--h5p-theme-text-primary);
      font-family: var(--h5p-theme-font-name);
      font-size: var(--h5p-theme-font-size-m);
      font-weight: 600;
      min-height: calc(var(--h5p-theme-font-size-m) * 1.2);
      min-width: 6em;
      overflow: hidden;
      padding: calc(var(--h5p-theme-spacing-xs) / 2) 0 calc(var(--h5p-theme-spacing-xs) / 2) var(--h5p-theme-spacing-xxs);
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;

      &:focus-visible {
        border-color: var(--h5p-theme-contrast-cta-white);
        box-shadow: 0 0 0.5rem 0 var(--h5p-theme-contrast-cta-white);
        outline: 1px ridge var(--h5p-theme-contrast-cta-white);
      }

      &:disabled {
        opacity: 1;
      }
    }

    &.correct {
      .h5p-text-input {
        background: var(--h5p-theme-feedback-correct-secondary);
        border: 2px solid var(--h5p-theme-feedback-correct-third);
        color: var(--h5p-theme-feedback-correct-main);
        font-weight: bold;
        padding-right: var(--h5p-theme-spacing-m);
      }

      &.has-tip .h5p-text-input {
        padding-right: 0.5rem;
      }

      .h5p-input-wrapper:after {
        color: var(--h5p-theme-feedback-correct-main);
        content: var(--icon-h5ptheme-checkmark);
        font-family: 'h5p-theme';
        position: absolute;
        right: var(--h5p-theme-spacing-xxs);
        text-decoration: none;
      }
    }

    &.error {
      .h5p-text-input {
        background-color: var(--h5p-theme-feedback-incorrect-secondary);
        border: solid 2px var(--h5p-theme-feedback-incorrect-third);
        color: var(--h5p-theme-feedback-incorrect-main);
        font-weight: bold;
        padding-right: var(--h5p-theme-spacing-m);
      }

      .h5p-input-wrapper:after {
        color: var(--h5p-theme-feedback-incorrect-main);
        content: var(--icon-h5ptheme-crossmark);
        font-family: 'h5p-theme';
        position: absolute;
        right: var(--h5p-theme-spacing-xxs);
        text-decoration: none;
      }
    }

    &.has-tip input.h5p-text-input {
      padding-right: 2.25rem;
    }

    &.has-tip.error input.h5p-text-input {
      padding-right: 3.5rem;
    }

    &.has-tip.correct input.h5p-text-input {
      padding-right: 3.5rem;
    }

    &.has-tip {
      .h5p-input-wrapper:after {
        right: 2.25em;
      }
    }

    &.retry {
      .h5p-text-input {
        background-color: var(--h5p-theme-feedback-incorrect-secondary);
        border: solid 2px var(--h5p-theme-feedback-incorrect-third);
        color: var(--h5p-theme-feedback-incorrect-main);
        font-weight: bold;
        padding-right: var(--h5p-theme-spacing-m);
      }

      &.has-tip .h5p-text-input {
        padding-right: 0.5rem;
      }

      .h5p-input-wrapper:after {
        color: var(--h5p-theme-feedback-incorrect-main);
        content: var(--icon-h5ptheme-crossmark);
        font-family: 'h5p-theme';
        position: absolute;
        text-decoration: none;
      }
    }

    &.showing-solution {
      .h5p-text-input {
        background-color: var(--h5p-theme-feedback-incorrect-secondary);
        border: solid 2px var(--h5p-theme-feedback-incorrect-third);
        color: var(--h5p-theme-feedback-incorrect-main);
        font-weight: bold;
        padding-right: var(--h5p-theme-spacing-m);
      }

      .h5p-input-wrapper:after {
        color: var(--h5p-theme-feedback-incorrect-main);
        content: var(--icon-h5ptheme-crossmark);
        font-family: 'h5p-theme';
        position: absolute;
        text-decoration: none;
      }
    }
  }

  .correct-answer {
    background-color: var(--h5p-theme-feedback-correct-secondary);
    border: 2px var(--h5p-theme-feedback-correct-main) dashed;
    border-radius: var(--h5p-theme-border-radius-medium);
    color: var(--h5p-theme-feedback-correct-main);
    display: inline-flex;
    font-weight: bold;
    line-height: normal;
    margin-left: .5em;
    padding: calc(var(--h5p-theme-spacing-xs) / 2);

    &[hidden] {
      display: none;
    }
  }

  .blank.has-pending-feedback button.h5p-notification {
    animation: shake 3s cubic-bezier(.36, .07, .19, .97) reverse;
    animation-iteration-count: 2;
    aspect-ratio: 1;
    backface-visibility: hidden;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-family: h5p-theme, sans-serif;
    font-size: large;
    margin-right: 2px;
    perspective: 1000px;
    position: relative;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    width: max(24px, var(--h5p-theme-font-size-m));

    &::before {
      content: var(--icon-h5ptheme-info);
      left: 50%;
      position: absolute;
      text-shadow: 1px 1px var(--h5p-theme-ui-base),
                  1px -1px var(--h5p-theme-ui-base),
                  -1px -1px var(--h5p-theme-ui-base),
                  -1px 1px var(--h5p-theme-ui-base);
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .blank.has-pending-feedback {
    &.error button.h5p-notification {
      background-color: var(--h5p-theme-feedback-incorrect-secondary);

      &::before {
        color: var(--h5p-theme-feedback-incorrect-main);
      }

      &:focus-visible {
        outline: 2px ridge var(--h5p-theme-feedback-incorrect-main);
      }

      &:hover::before {
        color: color-mix(in srgb, var(--h5p-theme-feedback-incorrect-main), transparent 60%);
      }
    }

    &.retry button.h5p-notification {
      background-color: var(--h5p-theme-feedback-neutral-third);

      &::before {
        color: var(--h5p-theme-feedback-neutral-secondary);
      }

      &:focus-visible {
        outline: 2px ridge var(--h5p-theme-feedback-neutral-secondary);
      }

      &:hover::before {
        color: color-mix(in srgb, var(--h5p-theme-feedback-neutral-secondary), transparent 60%);
      }
    }

    &.showing-solution button.h5p-notification {
      background-color: var(--h5p-theme-feedback-neutral-third);

      &::before {
        color: var(--h5p-theme-feedback-neutral-secondary);
      }

      &:focus-visible {
        outline: 2px ridge var(--h5p-theme-feedback-neutral-secondary);
      }

      &:hover::before {
        color: color-mix(in srgb, var(--h5p-theme-feedback-neutral-secondary), transparent 60%);
      }
    }
  }

  .blank:not(.has-pending-feedback) button.h5p-notification {
    display: none;
  }

  .h5p-advanced-blanks-select-mode {
    .blank {

      &.correct,
      &.error,
      &.retry,
      &.showing-solution {
        select.h5p-text-input {
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          padding-right: 2.0rem;
        }
      }
    }

    .joubel-tip-container {
      margin-inline-start: -1px;

      .joubel-icon-tip-normal {
        position: relative;
        top: -0.5rem;
      }
    }
  }

  .h5p-input-wrapper {
    align-items: center;
    display: inline-flex;
    position: relative;
    vertical-align: middle;
  }

  select.h5p-text-input {
    -moz-appearance: none;
    -webkit-appearance: button;
    appearance: button;
  }

  .h5p-advanced-blanks-type-mode {
    .joubel-tip-container {
      position: absolute;
      right: 0.4rem;
    }
  }

  .joubel-tip-container {
    background: none;
    border: none;
    font-size: var(--h5p-theme-font-size-m);
    line-height: inherit;
    padding: 0;

    &:focus-visible {
      border-radius: 4px;
      outline: 4px ridge var(--h5p-theme-contrast-cta-white);
    }

    &:hover {
      color: var(--h5p-theme-contrast-cta-dark);
    }

    .joubel-icon-tip-normal {
      .h5p-icon-shadow:before {
        color: var(--h5p-theme-main-cta-dark);
        opacity: 0.5;
      }
    }
  }
}

@keyframes shake {

  2%,
  20% {
    transform: translate3d(-0.5px, 0, 0);
  }

  4%,
  17% {
    transform: translate3d(1px, 0, 0);
  }

  6%,
  10%,
  15% {
    transform: translate3d(-2px, 0, 0);
  }

  9%,
  13% {
    transform: translate3d(2px, 0, 0);
  }
}
