.h5p-advanced-blanks {

  .highlighted {
    --space-around: calc(0.2 * var(--h5p-theme-spacing-s));
    animation-direction: alternate;
    animation-duration: 1000ms;
    animation-iteration-count: 3;
    animation-name: blink-background-color;
    background-color: var(--h5p-theme-feedback-incorrect-main);
    color: var(--h5p-theme-feedback-incorrect-secondary);
    margin: calc(-1 * var(--space-around));
    padding: var(--space-around);
  }
}

@keyframes blink-background-color {
  from {
    background-color: initial;
    color: initial;
  }

  to {
    background-color: var(--h5p-theme-feedback-incorrect-main);
    color: var(--h5p-theme-feedback-incorrect-secondary);
  }
}
